@import 'normalize.css';
:root{
  --color-main: #fbfbfb;
  --color-text: #191a15;
  --color-button: #3470ff;
  --color-buttonHover: #255ee8;
  --color-rating: #FFC531;
  --color-paragraph: rgba(52, 112, 255, 0.2);
  --color-money: #38cd3e;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color:var(--color-text);
}

h1{
  font-weight: 600;
  font-size: 80px;
  line-height: 102%;
  letter-spacing: -0.02em;
  margin: 0;
}

h2{
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
}

h3{
  font-weight: 500;
  line-height: 150%;
  color:var(--color-paragraph);
}
p{
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color:var(--color-paragraph);
}
button{
  font-size: 16px;
  line-height: 24px;
  border-radius: 30px;
  background: var(--color-button);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover{
  background: var(--color-buttonHover);
}

html {
  scroll-behavior: smooth;
}